.dashboard_content {
    box-sizing: border-box; padding:10px; font-size: 0; margin-top: 15px;}
.dashboard_content > div {
    display: inline-block; vertical-align: top;
    font-size: 12px; font-weight: 500; font-family: "Noto Sans KR", sans-serif;}
.content_left {
    width: 510px; height: 200px;
    margin-left: 20%;
}
.content_right {width: 250px; height: 200px; margin-left: 20px;}
.content_left, .content_right {background-color: #fff; border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); box-sizing: border-box;
    padding:20px;
}

.search_box_area {
    width: 780px; height: 370px; margin-left: 20%;
    background-color: #fff; border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); box-sizing: border-box;
    padding:20px;
}
.search_box_tbl {
    font-size: 12px; width: 100%; font-family: "Noto Sans KR", sans-serif;
}
.search_box_tbl td {width: 33.33%; text-align: center;
    padding: 10px 0; border: 1px solid #eee;
}
.search_box_tbl thead td {background-color: rgb(213, 216, 220); color: rgb(0, 0, 0);}
