.container > p {
    margin-top: 20px; margin-left: 100px; margin-bottom: 0;
    font-size: 36px; font-family: "Noto Sans KR", serif; font-weight: 500;
    color: #666;
}
.content_right {
    width: 1200px; height: 200px; margin-right: 5px; margin-left: 20px;
    text-align: center;
}
.rank_dashboard {
    width: 1080px; margin-top: 20px;text-align: center;
    font-family: "Noto Sans KR", serif; margin-left: 60px;
    margin-bottom: 20px;
}
.book_rank {
    background-color: #fff;
    width: 1080px; display:contents; vertical-align: top;
    margin-bottom: 20px; font-size: 16px; text-align: center;
    padding-bottom: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: calc((100% - 40px) / 5)
}
.book_rank p {font-family: "Noto Sans KR", sans-serif; }
.book_rank .rank_box {
    display: inline-block; vertical-align: top; width: 190px; margin: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); border-radius: 15px; height: 200px; text-align: center;
    box-sizing: border-box; font-family: "Noto Sans KR", sans-serif; margin-right: 20px; 
    margin-left: 20px;
}
.bookTitle {font-size: 16px; margin-top: 20px; font-weight: 700; margin-bottom: 20px;}
.author {font-size: 14px; font-weight: 700;}
.publisher {font-size: 14px; font-weight: 700;}
.regRank{font-size: 14px; font-weight: 700;}
.changeRank {font-size: 12px;  font-weight: 700;;color: #f22;}
.search_book > p {
    font-size: 40px; font-family:"Noto Sans KR", serif; font-weight: 500;
    margin-left: 100px; margin-top: 20px;float: left; margin-bottom: 10px;
    color: #666;
}
#search_box {
    width: 800px; height: 30px; font-size: 14px; margin-top: 5px;
    font-family: "Noto Sans KR", serif; font-weight: 300; margin-left: 18%;
}
#search_btn {
    margin-left: 5px; height: 30px; font-size: 14px; font-weight: 300;
    font-family: "Noto Sans KR", serif; width: 50px;
}
