.dashboard_content {box-sizing: border-box; padding:10px; font-size: 0;}
.dashboard_content > div {
    display: inline-block; vertical-align: top;background-color:#afb;
    font-size: 12px; font-weight: 500; font-family: "Noto Sans KR", sans-serif;}
.content_left {
    width: 510px; height: 200px;
    margin-left: 20%;
}
.content_right {width: 250px; height: 200px; margin-left: 20px;}
.content_left, .content_right {background-color: #fff; border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); box-sizing: border-box;
    padding:20px;
}