.dashboard_content {
    box-sizing: border-box; padding:10px; font-size: 0; margin-top: 15px;}
.dashboard_content > div {
    display: inline-block; vertical-align: top;
    font-size: 12px; font-weight: 500; font-family: "Noto Sans KR", sans-serif;}
.content_left {
    width: 400px; height: 180px;
    margin-left: 16%;
}
.content_right {width: 400px; height: 180px; margin-left: 100px;}
.content_left, .content_right, .area_left {background-color: #fff; border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); box-sizing: border-box;
    padding:20px;
}

.area_left {width: 400px; height: 180px; margin: 0 auto; position: absolute; margin-left: 33%;}


.lend_count_book {box-sizing: border-box; padding:10px; font-size: 0; margin-top: 10px; display: inline-block; vertical-align: top;
width: 1350px; position: relative;}
.dashboard_content > div {
    display: inline-block; vertical-align: top;
    font-size: 12px; font-weight: 500px; font-family: "Noto Sans KR", sans-serif;}
.lend_book_box > p {
    font-size: 25px; font-family:"Noto Sans KR", serif; font-weight: 700;
    margin-left: 100px; margin-top: 150px;float: left; margin-bottom: 10px;
    color: #666; 
}

.lend_book_list {
    margin-top: 15px;
    padding-left: 9%; text-align: center;
}
.lend_count_tbl {
    font-size: 12px; width: 100%; font-family: "Noto Sans KR", sans-serif;
    margin-top: 20px;
}
.lend_count_tbl td {width: 20%; text-align: center;
    padding: 10px 0; border: 1px solid #eee; font-size: 15px;
}
.lend_count_tbl thead td {font-weight: 700; font-size: 18px; padding: 15px;
    border-bottom: 5px double rgb(196, 196, 196);
    border-left: none}

.lend_count_tbl thead td:first-child {
    border-left: none;
}
.lend_count_tbl td {
    font-size: 13px; font-weight: 500; font-family: "Noto Sans KR", serif;
    padding: 15px;
    border-bottom: 1px solid rgb(196, 196, 196);
    border-left: 5px double rgb(196, 196, 196);
}
.lend_count_tbl td:first-child {
    border-left: none;
}

.lend_pager_area {
    text-align: center; margin-top: 20px;
}

.lend_list_tbl thead td {font-weight: 700; font-size: 18px; padding: 15px;
    border-bottom: 5px double rgb(196, 196, 196);
}

.lend_list_tbl thead td:first-child {
    border-left: none;
}
.lend_list_tbl td {
    font-size: 13px; font-weight: 500; font-family: "Noto Sans KR", serif;
    padding: 15px;
    border-bottom: 1px solid rgb(196, 196, 196);
    border-left: 5px double rgb(196, 196, 196);
    width: 270px;
}
.lend_list_tbl td:nth-child(2) {
    width: 30px;
}
.lend_list_tbl td:last-child {
    width: 80px;
}
.lend_list_tbl td:first-child {
    border-left: none;
}


