.main_menu_list {text-align: center;}
#logo {
    margin-top: 30px; display: inline-block; font-size: 22px;
    font-family: "Noto Sans KR", serif; 
}

.menu_list {
    margin-top: 15px; background-color: #e17055; padding-bottom: 20px;
    padding-left: 60px; 
}
.menu_list .main_menu a {
    margin-top: 10px;
    margin-right: 102px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none; color: #eee; 
    display: inline-block; font-weight: 500;
    font-family: "Noto Sans KR", serif;
}