.main_menu_list {text-align: center;}

#logo_img {
    height: 100px; display: inline-block; margin-top: 50px;
    width: 280px;
}

.menu_list {
    margin-top: 0px; background-color: #e17055; padding-bottom: 20px;
    padding-left: 60px; 
}
.menu_list .main_menu a {
    margin-top: 10px;
    margin-right: 102px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none; color: #eee; 
    display: inline-block; font-weight: 500;
    font-family: "Noto Sans KR", serif;
}