.main_menu_list {
    width: 150px; display: block; overflow: hidden; 
    position: fixed; height: 100vh; left: 0; top: 0;
    background-color: #fafafa; box-shadow:2px 0px 7px rgba(0, 0, 0, 0.1);
}
#logo {
    padding:10px 15px; margin: 10px 0;
    color: #666;text-decoration: none;font-weight: 500;
    font-size: 16px; font-family:"Noto Sans KR", sans-serif ;
    margin-top: 60px;padding: 20px; width: 100px; margin-left: 14px; float:left;
}
.main_menu a {
    padding:10px 15px; margin: 10px 0;
    color: #666;text-decoration: none;font-weight: 500;
    font-size: 16px; font-family:"Noto Sans KR", sans-serif ;
    margin-top: 60px;padding: 20px; width: 100px; margin-left: 14px; float:left;
}
