.new_book_list > p {
    font-size: 40px; font-family:"Noto Sans KR", serif; font-weight: 500;
    margin-left: 100px; margin-top: 20px;float: left; margin-bottom: 10px;
    color: #666;
}

.dashboard_content {
    box-sizing: border-box; padding:10px; font-size: 0; margin-top: 15px; display: inline-block; vertical-align: top;}
.dashboard_content > div {
    display: inline-block; vertical-align: top;
    font-size: 12px; font-weight: 500px; font-family: "Noto Sans KR", sans-serif;}
.dashboard_content > p {
    font-size: 12px; text-align: left; margin-bottom: 10px; margin-left: 10%;
    font-weight: 700px; 
}
.search_box_area {
    width: 1150px; height: 900px;
    background-color: #fff; border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); box-sizing: border-box;
    padding:10px; margin-left: 7%;
}
.new_book_list_tbl {
    font-size: 12px; width: 100%; font-family: "Noto Sans KR", sans-serif;
}
.new_book_list_tbl td {width: 20%; text-align: center;
    padding: 10px 0; border: 1px solid #eee; font-size: 15px;
}
.new_book_list_tbl thead td {background-color: rgb(213, 216, 220); color: rgb(0, 0, 0);}

#newbook_prev {background-color: #fff; border-radius: 5px;}
#newbook_next {background-color: #fff; border-radius: 5px;}


