.public_book_box > p {
    font-size: 25px; font-family:"Noto Sans KR", serif; font-weight: 700;
    margin-left: 100px; margin-top: 20px;float: left; margin-bottom: 10px;
    color: #666; 
}
.dashboard_content {
    box-sizing: border-box; padding:10px; font-size: 0; margin-top: 10px; display: inline-block; vertical-align: top;
    width: 1350px; position: relative;}
.dashboard_content > div {
    display: inline-block; vertical-align: top;
    font-size: 12px; font-weight: 500px; font-family: "Noto Sans KR", sans-serif;}
.dashboard_content > p {
    font-size: 12px; text-align: left; margin-bottom: 10px;
    font-weight: 700px; 
}

.search_box_area {
    margin-top: 10px;
    width: 700px; height: 370px; position: relative;
    background-color: #fff; border-radius: 20px;
    box-sizing: border-box;
    padding:10px; margin-left: 8%; margin-right: 0px;
}
.public_library_tbl {
    font-size: 12px; width: 100%; font-family: "Noto Sans KR", sans-serif;
    margin-top: 20px;
}
.public_library_tbl td {width: 33.33%; text-align: center;
    padding: 10px 0;font-size: 14px;
}
.search_box_detail {
    width: 330px; height: 380px; margin-top: 20px;
    background-color: #fff; border-radius: 20px;
    border: 10px double rgb(175, 175, 175);
    box-shadow: 0 0 10px rgba(0,0,0,0.2); box-sizing: border-box;
    margin-left: 80px; position: relative; 
}
.public_info_area {width: 250px; height: 200px; position: relative;}


.search_box {
    width: 1200px; height: 700px;
    background-color: #fff; border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); box-sizing: border-box;
    padding:10px; margin-left: 5%;
}
.public_bestseller_tbl {
    font-size: 12px; width: 100%; font-family: "Noto Sans KR", sans-serif;
}
.public_bestseller_tbl td {width: 20%; text-align: center;
    padding: 10px 0; border: 1px solid #eee; font-size: 15px;
}
.public_bestseller_tbl thead td {background-color: rgb(213, 216, 220); color: rgb(0, 0, 0);}

#search_keyword {
    width: 490px; font-size: 15px; font-weight: 300px;margin-bottom: 7px;
    box-sizing: content-box; font-family: "Noto Sans KR", serif;
    border-radius: 5px; margin-left: 10px;
}
#search_btn {
    box-sizing: content-box; background-color: #fff; border-radius: 5px;
    margin-left: 10px;font-family: "Noto Sans KR", serif; height: 23px;
}
#adrress1_select {
    font-family: "Noto Sans KR", sans-serif;
    position: relative; font-size: 14px; font-weight: 500;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.search_pager_area {
    text-align: center; margin-top: 25px;
}
.detail_pager_area {
    text-align: center; margin-top: 20px;
}

.search_box_detail > p {
    font-size: 20px; font-weight: 700; margin-bottom: 20px; padding: 10px;
    text-align: center; color: #666; margin-top: 5px;
}
.public_library_tbl thead td {
    font-weight: 700; font-size: 18px; padding: 15px;
    border-bottom: 5px double rgb(196, 196, 196);
    border-left: none

}
.public_library_tbl thead td:first-child {
    border-left: none;
}
.public_library_tbl td {
    font-size: 13px; font-weight: 500; font-family: "Noto Sans KR", serif;
    padding: 15px;
    border-bottom: 1px solid rgb(196, 196, 196);
    border-left: 5px double rgb(196, 196, 196);
}
.public_library_tbl td:first-child {
    border-left: none;
}

.public_info_tbl td {
    margin-top: 40px;
    font-size: 14px; font-weight: 500; font-family: "Noto Sans KR", serif;
    padding: 20px;
}
.fa-landmark:before {
    font-size: 24px; margin-left: 10px;  margin-right: 0;
}
::before {
    font-size: 14px;
    margin-right: 7px;
}
.fa-calendar-times:before {
    color:rgb(241,88,102)
}


